.btn {
  color: #fff;
  background-color: #007bff;
  border: none;
  margin: 20px 0 0;
  height: 30px;
  padding: 0 15px;
  border-radius: 4px;
  outline: none;
}
.btn-active {
  color: #fff;
  background-color: green;
  border: none;
  margin: 30px;
  height: 30px;
  padding: 0 15px;
  border-radius: 4px;
  outline: none;
}
