.wrapper {
  min-height: 100vh;
  background-color: antiquewhite;
}

h1 {
  margin: 0;
  text-align: center;
}
.container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.name,
.description {
  width: 100%;
  margin-bottom: 20px;
}
.description {
  height: 100px;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}
.tasklist {
  display: flex;
  flex-direction: column;
  width: 50%;
}
h5,
p {
  margin: 0;
}
.input {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}
